*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.543);
    position: sticky;
    z-index: 100;
    top: 0;
}
.logoBox{
    width: 25%;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img{
    width: 130px;
    height: 100px;
}
.navLinks{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: coral; */
    gap: 100px;
    justify-content: space-around;
}
.navLinks a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav  button{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
}

.mainBody{
    width: 100%;
    background-color: antiquewhite;
    height: 100vh;
}

form{
    background-color: peachpuff;
    height: 300px;
    width: 300px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .up, .bottom{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
}
.one{
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    font-size: 20px;
    color: white;
}
.two, .three, .four, .five{
    width: 50%;
    height: 100%;
}
.two{
    background-color: cadetblue;
}
.three{
    background-color: rgb(160, 95, 95);
}
.four{
    background-color: rgb(160, 95, 151);
}
.five{
    background-color: rgb(114, 160, 95);
} */